// Variable overrides

$cyan: #17a2b8;
$info: $cyan;

$navbar-brand-bg: #20a8d8;
$navbar-brand-width: 200px;
$navbar-bg: #2f353a;
$navbar-color: #fff;
$navbar-hover-color: $navbar-color;
$navbar-hover-color: #20a8d8;
$navbar-active-color: #20a8d8;
$navbar-border: none;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;



